body, h1, h2, h3, h4, h5, h6, p, li {
   font-family: 'Lucida Grande', verdana, geneva, lucida, arial, helvetica, sans-serif;
   line-height: 1.25em;
}

body, p, li {
   font-size: 14px;
}

body {
   margin: 1em;
}

p {
   margin: .5em;
}

h1 {
   font-size: 24px;
}

h2 {
   font-size: 18px;
}

h1, h2 {
   font-variant: small-caps;
}

p.tagline {
   font-style: italic;
   font-size: 14px;
   margin-top: -1em;
}
